@font-face {
    font-family: bebas;
    src: url('../fonts/bebas.ttf');
}

@font-face {
    font-family: oswald;
    src: url('../fonts/oswald.ttf');
}

body {
    background: url('../img/bg.jpg');
    padding-top: 1em;
    font-family: oswald;
}

.jumbotron, .well {
    background: rgba(238, 238, 238, 0.85);
}

.jumbotron h1, h2, h3 {
    font-family: bebas;
}

li {
    font-size: 1.3em;
}