{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Recipes(dj+ng)</title>

    <link rel="stylesheet" href="{% static 'recipes/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'recipes/css/style.css' %}">
  </head>
  <body ng-app="recipesApp">
    <div class="container-fluid">
      {% block content %}{% endblock %}
    </div>
    <script src="{% static 'recipes/js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'recipes/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'recipes/js/angular.min.js' %}"></script>
    <script src="{% static 'recipes/js/recipes-app.js' %}"></script>
    {% block footer %}{% endblock %}
  </body>
</html>
