{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron text-center">
    <h1>Recipes(dj+ng)</h1>
    <p>The best recipes in the world!!!</p>
    <input id="search" class="form-control input-lg" type="search" placeholder="Type any ingredient to find a recipe..." ng-model="query">
  </div>
  {% verbatim %}
    <div ng-controller="recipesListController as recipes">
      <div class="row">
	<div class="col-md-4" ng-show="query" ng-repeat="recipe in recipes.recipes | filter:query">
	  <div class="well">
	    <h2 class="text-center">{{ recipe.name | uppercase }}</h2>
	    <h3>INGREDIENTS:</h3>
	    <ul>
	      <li ng-repeat="ingredient in recipe.ingredients">{{ ingredient }}</li>
	    </ul>
	    <h3>DIRECTIONS:</h3>
	    <ol>
	      <li ng-repeat="direction in recipe.directions">{{ direction }}</li>
	    </ol>
	  </div>
	</div>
      </div>
    </div>
  {% endverbatim %}
{% endblock %}

{% block footer %}
  <script>
  $(document).ready(function() {
      $('#search').focus();
  });
  </script>
{% endblock %}
